html, body {
  margin:0;
  padding:0;
  background-color: #fff;
}

@font-face {
  font-family: proximanova;
  src: url(fonts/proximanova-black-webfont.eot);
  src: url(fonts/proximanova-black-webfont.woff2) format("woff2"),
    url(fonts/proximanova-black-webfont.woff) format("woff"),
    url(fonts/proximanova-black-webfont.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: proximanova;
  src: url(fonts/proximanova-extrabold-webfont.eot);
  src: url(fonts/proximanova-extrabold-webfont.woff2) format("woff2"),
    url(fonts/proximanova-extrabold-webfont.woff) format("woff"),
    url(fonts/proximanova-extrabold-webfont.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: proximanova;
  src: url(fonts/proximanova-bold-webfont.eot);
  src: url(fonts/proximanova-bold-webfont.woff2) format("woff2"),
    url(fonts/proximanova-bold-webfont.woff) format("woff"),
    url(fonts/proximanova-bold-webfont.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: proximanova;
  src: url(fonts/proximanova-boldit-webfont.eot);
  src: url(fonts/proximanova-boldit-webfont.woff2) format("woff2"),
    url(fonts/proximanova-boldit-webfont.woff) format("woff"),
    url(fonts/proximanova-boldit-webfont.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: proximanova;
  src: url(fonts/proximanova-semibold-webfont.eot);
  src: url(fonts/proximanova-semibold-webfont.woff2) format("woff2"),
    url(fonts/proximanova-semibold-webfont.woff) format("woff"),
    url(fonts/proximanova-semibold-webfont.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: proximanova;
  src: url(fonts/proximanova-regularit-webfont.eot);
  src: url(fonts/proximanova-regularit-webfont.woff2) format("woff2"),
    url(fonts/proximanova-regularit-webfont.woff) format("woff"),
    url(fonts/proximanova-regularit-webfont.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: proximanova;
  src: url(fonts/proximanova-regular-webfont.eot);
  src: url(fonts/proximanova-regular-webfont.woff2) format("woff2"),
    url(fonts/proximanova-regular-webfont.woff) format("woff"),
    url(fonts/proximanova-regular-webfont.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

body,
div,
p {
  box-sizing: border-box;
  font-family: proximanova !important;
}

a:link {
  text-decoration: none;
}

.break {
  display: none;
}

.callnumber {
  font-size: 45px  !important; 
  font-weight: bold  !important;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #315ea3;
  margin: 0 auto;

}

.choicesblock {
  color: #fff;
  text-align: left;
  width: 100%;
  max-width: 700px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 1.5;
}

.choicesblock a {
  color: #fff;
}

.choicesblock a:hover {
  text-decoration: underline;
}

.choicesblock ul {
  text-align: left;
}

.choicesblock li {
  margin-left: 0;
  padding-left: 0;
}


.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

footer {
  background-color: #fff;
  text-align: center;
  font-size: 12px;
  margin: 25px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
   -webkit-margin-before: 0px;
   -webkit-margin-after: 0px;
}

h3 {
  text-align: center;
}

.learnmore {
  width: 40%;
  height: auto;
}

#learnmorebox {
  font-weight: bold;
  font-size: 18px;
  width: 250px;
  height: 60px;
  margin: 0;
  padding: 20px;
  background-color: #ff9409;
}

#learnmorebox a {
  color: #000;
  text-decoration: none;
}

.poster {
  display: block;
  height: 300px;
  max-height: 300px;
  background: #000;
  margin: 0 0 30px 0;
  padding: 0;
}

.poster img {
  text-align: center;
  height: auto;
  width: 100%;
  max-width: 673px;
  max-height: 300px;
  border: none;
}

.qbox {
  display: flex;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background-color: #f5f5f5;
  align-items: center;
  justify-content: center;
}

.questions {
  background-color: #fff;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.questionstext {
  text-align: left;
  width: 60%;
  padding-left: 40px;
  padding-right: 10px;
}
.questionstext h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}
.questionstext p {
  font-size: 18px;
}

.takeaction,
.questions {
  background-color: #fff;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.takeaction h2 {
  margin: 0 auto;
  font-size: 25px;
  line-height: 1.09;
  color: #000;
  padding-top: 40px;
}

.takeaction p {
  margin: 10px 20px 20px 20px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.watchcenter h2 {
  text-align: center;

}


/* NEST HUB DISPLAY ################################*/
@media only screen and (max-width: 1024px) {

  .questionstext p {
    padding-right: 10px;
  }
}


/* MOBILE DISPLAY ################################*/
@media only screen and (max-width: 768px) {
  .break {
    display: block;
  }
  .callnumber {
    font-size: 35px !important; 
    font-weight: bold !important;
  }
  
  .container {
    flex-wrap: wrap;
  }

  footer {
    margin: 15px 5px;
  }
  
  h1 {
    font-size: 40px;
  }

  .learnmore {
    width: 100%;
    display: block;
  }

  #learnmorebox {
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    width: 250px;
    height: 60px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ff9409;
  }

  .poster {
    height: auto;
    max-height: auto;

  }

  .qbox {
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #f5f5f5;
  }

  .questions {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .questionstext {
    display: block;
    float: none;
    text-align: center;
    max-width: 100%;
    width: 100%;
    padding-left: 0px;
    }

  .questionstext h2 {
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #000;
    text-align: center;
    padding: 0px;
    margin: 0;
  }
  .questionstext p {
    font-size: 24px;
    line-height: 1.5;
  }

  .takeaction h2 {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  .takeaction p {
    font-size: 24px;
    margin: 10px 0;
  }

  .takeaction,
  .questions {
    padding-bottom: 0px;
  }

  .watchcenter h2 {
    margin: 20px 10px;
  }

}
