.arrow {
    position: absolute;
    right: 20px;
    transition: 0.4s;
}

.arrow_flipped_true {
    transform: rotate(-180deg);
}

.answer {
    font-family: proximanova !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
    padding-left: 32px;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    transition: opacity ease 0.4s, max-height ease 0.2s;
    padding: 0 32px;
    text-align: left;
}

.answer p:last-child {
    padding-bottom: 16px;
}

.answer_open_true {
    max-height: 1000px;
    opacity: 1;
}

body {
    margin: 0 auto;
    padding: 0;
}

body,
div,
p {
    box-sizing: border-box;
    font-family: proximanova !important;
    font-size: 18px;
}


.faqrow {
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.faqrow p {
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.5;
}

.fbrow {
    background-color: black;
    margin: 0 auto;
}

.fbrow img {
    width: 100%;
    height: auto;
}

.filterbox {
    width: 285px;
    height: 51px;
    padding: 19px 24px 15px;
    background-color: #045ea8;
    color: #fff;
}

@font-face {
    font-family: proximanova;
    src: url(fonts/proximanova-black-webfont.eot);
    src: url(fonts/proximanova-black-webfont.woff2) format("woff2"),
        url(fonts/proximanova-black-webfont.woff) format("woff"),
        url(fonts/proximanova-black-webfont.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: proximanova;
    src: url(fonts/proximanova-extrabold-webfont.eot);
    src: url(fonts/proximanova-extrabold-webfont.woff2) format("woff2"),
        url(fonts/proximanova-extrabold-webfont.woff) format("woff"),
        url(fonts/proximanova-extrabold-webfont.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: proximanova;
    src: url(fonts/proximanova-bold-webfont.eot);
    src: url(fonts/proximanova-bold-webfont.woff2) format("woff2"),
        url(fonts/proximanova-bold-webfont.woff) format("woff"),
        url(fonts/proximanova-bold-webfont.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: proximanova;
    src: url(fonts/proximanova-boldit-webfont.eot);
    src: url(fonts/proximanova-boldit-webfont.woff2) format("woff2"),
        url(fonts/proximanova-boldit-webfont.woff) format("woff"),
        url(fonts/proximanova-boldit-webfont.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: proximanova;
    src: url(fonts/proximanova-semibold-webfont.eot);
    src: url(fonts/proximanova-semibold-webfont.woff2) format("woff2"),
        url(fonts/proximanova-semibold-webfont.woff) format("woff"),
        url(fonts/proximanova-semibold-webfont.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: proximanova;
    src: url(fonts/proximanova-regularit-webfont.eot);
    src: url(fonts/proximanova-regularit-webfont.woff2) format("woff2"),
        url(fonts/proximanova-regularit-webfont.woff) format("woff"),
        url(fonts/proximanova-regularit-webfont.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: proximanova;
    src: url(fonts/proximanova-regular-webfont.eot);
    src: url(fonts/proximanova-regular-webfont.woff2) format("woff2"),
        url(fonts/proximanova-regular-webfont.woff) format("woff"),
        url(fonts/proximanova-regular-webfont.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

footer {
    font-size: 14px;
    text-align: center;
    margin: 20px auto;
}

h1 {
    width: 100%;
    font-size: 46px;
    font-weight: bold;
    padding: 0 10px;
}

h2 {
    max-width: 900px;
    font-size: 20px;
    font-weight: bold;
}


main {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

main img {
    width: 100%;
    height: auto;
}

.nostationrow {
    background-color: black;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    line-height: 1.2;
}

.nostationrow {
    margin: 0 auto;
}

.nostationrow img {
    border: none;
    width: 100%;
    max-width: 150px;
    height: auto;
}

.nostationrow p a {
    color: white;
}

.nostationrow a:link {
    text-decoration: none ;
    color: white;
}

.nostationrow a:hover {
    text-decoration: underline ;
    color: white;
}

.nostationrow p {
    font-size: 30px;
}

.reclaimrow {
    text-align: center;
    padding: 40px;
}

.reclaimrow img {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.stationrow {
    display: block;
}

.stationimg {
    display: inline;
    float: left;
    width: 164px;
    height: auto;
    max-width: 164px;
}

.switchtext {
   color: #ee6f22;
   font-weight: 700;
   font-size: 40px !important;
   margin: 30px auto;
}

.questionbox {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin-bottom: 2px;
    padding: 0 50px 0 24px;
    border-left: 8px solid #045ea8;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    font-weight: 800;
    line-height: 1.5;
    cursor: pointer;
    text-align: left;
}

.questionbox:first-of-type {
    margin-top: 30px;
}

.question {
    padding: 10px 0;
    margin: 0;
    user-select: none;
    pointer-events: none;
}

.textbold {
    font-weight: 700;
    font-size: larger;
    line-height: 1.2;
}

.textbold a:link {
    text-decoration: none;
    color: white;
}

.textbold a:hover {
    text-decoration: underline;
}

.verizontext {
    color: #f60923;
    font-weight: bold;
}